body{
    background-color: rgba(253, 202, 211);
    position: relative;
}
.signpic{
    position: absolute;
    padding: 0px;
    margin:0px ;
    margin-left: 0px;
    margin-right: 0px;
    left: 1005px;
    top: -410px;
    right: 330px;
    object-fit: cover;
    display: block;
    background: rgba(253, 202, 211);
    background-color: rgba(253, 202, 211);

}
.carpic{
    position:absolute;
    left: 635px;
    top: 120px;
    right: -30px;
    object-fit: cover;
    display: block;
    border-radius: 200px;
    
}
/*.formBox{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: 1px solid rgb(254, 185, 198);
    margin: auto;
    margin-top: 50px;
    background-color: rgb(251, 183, 196);
    margin-left: 60px;
    border-radius: 30px;
}*/
.sign{
    height: 100%;
    width: 100%;

}
.formBox{
    width: 400px;
    height: 500px;
    position: relative;
    margin:5px auto;
    background:rgb(254, 185, 198) ;
    padding: 5px;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 100px;
    overflow: hidden;

}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: rgb(251, 170, 185);
    border-radius: 30px;
    padding: 5px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, rgb(250, 122, 145),rgb(251, 170, 185));
    border-radius: 30px;
    transition: 0.5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(251, 170, 185);
    outline: none;
    background: transparent;
    margin-left: 160px;
    margin-top: 10px;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgb(250, 122, 145),rgb(251, 170, 185));
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-left: 180px;
}
.check-box{
    margin-left: 140px;
    margin: 30px 10px 30px 150px;
}
span{
    color:rgb(255, 145, 165);
    font-size: 12px;
    bottom: 68px;
    position: absolute;
    
}
#LogIn{
    left: 10px;
}
#SignUp{
    left: 300px;
    display: none;
    top: 120px;
}


